<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Pharmacy</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css?version=51">
</head>
<body>
<header>
    <div class="logo-container">
        <a href="/"><img src="/images/pharmacy_logo.gif" alt="logo"></a>
    </div>
    <nav>
        <ul>
            <li><a href="/pharmacy" sec:authorize="hasRole('USER')" th:text="#{online_pharmacy.message}">OnlinePharmacy</a></li>


            <li><a href="/administrator-manage-users" sec:authorize="hasRole('ADMIN')" th:text="#{manage_users.message}">Manage users</a></li>
            <li><a href="/administrator-add-active-ingredient" sec:authorize="hasRole('ADMIN')" th:text="#{add_active_ingredient.message}">Add active ingredient</a></li>
            <li><a href="/administrator-manage-active-ingredients" sec:authorize="hasRole('ADMIN')" th:text="#{manage_active_ingredient.message}">Manage active ingredient</a></li>
            <li><a href="/administrator-add-medicines" sec:authorize="hasRole('ADMIN')" th:text="#{add_medicine.message}">Add medicine</a></li>
            <li><a href="/administrator-manage-medicines" sec:authorize="hasRole('ADMIN')" th:text="#{manage_medicine.message}">Manage medicines</a></li>
            <li><a href="/administrator-add-interactions" sec:authorize="hasRole('ADMIN')" th:text="#{add_interaction.message}">Add interaction</a></li>
            <li><a href="/administrator-manage-interactions" sec:authorize="hasRole('ADMIN')" th:text="#{manage_interactions.message}">Manage interactions</a></li>
            <li><a href="/orders" sec:authorize="hasRole('ADMIN')" th:text="#{view_orders.message}">View orders</a></li>

            <li><a href="/about" sec:authorize="hasRole('USER')" th:text="#{about.message}">About</a></li>
            <li><a href="/contacts" sec:authorize="hasRole('USER')" th:text="#{contacts.message}">Contacts</a></li>

            <li><a href="/cart" sec:authorize="hasRole('USER')"th:text="#{view_cart.message}">View Cart</a></li>
            <li><a href="/login" sec:authorize="!isAuthenticated()" th:text="#{sign_in.message}">Sign in</a></li>

            <li><a href="/user-settings" sec:authorize="hasRole('USER')" th:text="#{user_settings}">User settings</a></li>
            <li><form th:method="post"
                      th:action="@{/logout}" sec:authorize="isAuthenticated()">
                <input type="submit" th:value="#{sign_out.message}" class="logout"/>
            </form></li>
            <li>
                <form th:method="get">
                    <select
                            id="lang"
                            name="lang"
                            onchange="this.form.submit()">
                        <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                        <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
                    </select>
                </form>
            </li>
        </ul>
    </nav>
</header>

<footer>
    <div class="section-4">
        <article id="a-1">
            <h3>Address</h3>
            <p>PharmEase Headquarters Address in Bulgaria:<br>
                PharmEase Headquarters<br>
                45 Zdrave Street, Floor 3, Office 7<br>
                1000 Sofia<br>
                Bulgaria
            </p>
            <p>
                United States:<br>
                PharmEase USA Headquarters<br>
                123 HealthTech Avenue<br>
                Suite 400<br>
                San Francisco, CA 94105<br>
                United States<br>
            </p>
        </article>
        <article id="a-2">
            <h3>Statues and Policies</h3>
            <p>Mission Statement:<br>
                PharmEase is committed to enhancing healthcare accessibility through innovative digital solutions and superior customer service.</p>
            <p>Quality Assurance:<br>
                We adhere to strict standards of quality control to ensure the safety, efficacy, and reliability of all products offered through our platform.<br>
            </p>
            <p>Privacy and Data Security:<br>
                Protecting the privacy and security of our customers' personal and medical information is paramount. We employ robust measures to safeguard data in compliance with relevant regulations.<br>
            </p>
        </article>
        <article id="a-3">
            <h3>Resources</h3>
            <p>PharmEase Official Website: www.pharmease.com
            </p>
            <p>
                Regulatory Agencies:<br>
                Food and Drug Administration (FDA): www.fda.gov <br>
                European Medicines Agency (EMA): www.ema.europa.eu <br>
                Bulgarian Drug Agency (BDA): www.bda.bg/en <br>
            </p>
        </article>
        <article id="a-4">
            <h3>Mobile Apps</h3>
            <p>Explore the convenience of managing your healthcare with the PharmEase mobile app, available for download on Android and iPhone. Access a wide range of prescription medications, manage refills, and get personalized health advice wherever you are. Stay informed with medication reminders and securely track your health journey with ease. Download the PharmEase app today and take control of your health at your fingertips.
            </p>
        </article>
    </div>
    <div class="section-5">
        <p>Copyright 2024</p>
    </div>
</footer>
</body>
</html>