@import url('https://fonts.cdnfonts.com/css/pt-serif');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Serif", serif;
}
footer {
    font-family: "PT Sans", sans-serif;
}

.container {
    max-width: 75em;
    margin: auto;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: 75em;
    background-position: top
;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 1.5em;
    overflow: hidden;
    transform: scaleY(1.2);
}

header nav ul li {
    float: left;
}

header nav ul li a {
    color: white;
    padding: 1em;
    text-decoration: none;
    font-size: 0.65em;
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
    
}

header img {
    display: block;
    width: 4.5em;
    margin-top: 0em;
    margin-left: 0em;
}

header .logo-container {
    width: 7.5em;
    height: 7.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 5em;
}

header .logo-container img {
    ; /* Scale the image to 1.5 times its original size */
    display: block; /* Make sure the image behaves as a block element */
    width: 100%; /* Make the image fill its container width */
    height: auto; /* Maintain aspect ratio */
}

.section-1 {
    display: flex;
    flex-direction: column;
    color: white;
}

.section-1 article {
    padding-left: 8.5em;
    padding-top: 1em;
    max-width: 38.5em;
}

.section-1 article h1 {
    font-size: 2.82em;
    padding-bottom: 0.6em;
    font-weight: 100;
}
.section-1 article p {
    font-family: "PT Sans", sans-serif;
    font-size: 0.95em;
    line-height: 1.5em;
    padding-bottom: 1em;
}

.section-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFFFFF;
    gap: 2em;
}

.section-2 article {
    max-width: 28em;
    padding-top: 5em;
    padding-bottom: 5em;
}
.section-2 article h2 {
    color: #37282B;
    font-size: 2.5em;
    padding-bottom: 0.5em;
    font-weight: 100;
}
.section-2 article p {
    color: #37282B;
    font-family: "PT Sans", sans-serif;
    font-size: 0.77em;
    line-height: 1.55em;
    padding-bottom: 2em;
}

li::marker {
    color: white;
}

.section-2 {
    border-bottom: 0.15em solid #CCCCCC;
}

.section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-3 article {
    text-align: center;
}

.section-3 article h2 {
    color: #B0825C;
    font-size: 2.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: 100;

}

.section-3 article p {
    display: block;
    color: #716567;
    max-width: 75em;
    font-family: "PT Sans", sans-serif;
    font-size: 0.75em;
    padding-bottom: 4em;
}

.section-3 article .container-all {
    display: flex;
    gap: 3em;
}
.section-3 article .container-all .image-container img {
    width: 5em;
}
.section-3 article .container-all .image-container {
    width: 7em;
    height: 7em;
    background-color: #DDDDDD;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

}
.section-3 article {
    padding-bottom: 4em;
}

.section-4 {
    display: flex;
    gap: 3.7em;
    justify-content: center;
    background-color: #171720;
    color: white;
    border-bottom: 0.2em solid #CCCCCC;
    padding-top: 3em;
    padding-bottom: 3em;
}

#a-1 {
    width: 12em;
}

#a-1 p {
    margin-bottom: 4em;
}

#a-2 {
    width: 13em;
}

#a-2 p {
    margin-bottom: 4em;
}
#a-3 {
    width: 15em;
}

#a-3 p {
    margin-bottom: 4em;
}

#a-4 {
    width: 9.8em;
}
.section-4 article h3 {
    font-size: 1em;
    padding-bottom: 1.5em;
    font-weight: 100;
}

.section-4 article p {
    font-size: 0.5em;
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
    color: #B3A6A8;
    line-height: 2.5em;
    transform: scaleY(1.2);

}

.section-5 {
    background-color: #171720;
    color: #B3A6A8;
    font-size: 0.5em;
    font-family: "PT Sans", sans-serif;
    padding: 1em;
    padding-left: 14.1em;
    transform: scaleY(1.2);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    color: black;

    padding-top: 5em;
    padding-bottom: 5em;
    font-family: "PT Serif", serif;
    background-color: white;

}

.form-border {
    width: 30em;
    padding-bottom: 3em;
    padding-top: 3em;
    background-color: white;

    border: 0.07em solid #B0825C;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    color: black;
}

.form-group button {
    color: #B0825C;
    font-family: "PT Sans", sans-serif;
    font-size: 0.77em;
    border: 0.15em solid #B0825C;
    text-decoration: none;
    font-weight: bold;
    width: 15.5em;
    height: 3.2em;
}
.form-control {
    color: #B0825C;
    font-family: "PT Sans", sans-serif;
    font-size: 0.77em;
    border: 0.07em solid #B0825C;
    width: 15.5em;
    height: 3.2em;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}
::placeholder {
    text-align: center;
}
.register-link {
        color: #B0825C;
        text-decoration: none;
}
.register-link:hover {
        text-decoration: underline;
}

#objectives {
    width: 28em;
    float: left;
    max-height: 12em;
    overflow: hidden;


    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-heigth 0.7s;

}

#objectives.open {
    max-height: initial;

    -webkit-transition: max-heigth 0.7s;
    -moz-transition: max-heigth 0.7s;
    transition: max-heigth 0.7s;
}

#aims {
    width: 28em;
    float: left;
    max-height: 12em;
    overflow: hidden;


    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-heigth 0.7s;

}

#aims.open {
    max-height: initial;

    -webkit-transition: max-heigth 0.7s;
    -moz-transition: max-heigth 0.7s;
    transition: max-heigth 0.7s;
}

.flex-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap; /* Allow items to wrap */
    row-gap: 3em;
    column-gap: 3em;
    font-family: "PT Serif", serif;
    align-items: center;


}
.flex-item {
    display: flex;
    flex-direction: column;
    border: 0.07em solid white;
    width: 16em;
    overflow: auto;
    padding: 1em;
    align-items: center;
    justify-content: center;
    font-family: "PT Serif", serif;

}
.flex-item:hover {
    border: 0.07em solid #B0825C;
}
.flex-item p {
    margin-bottom: 1em;
}

.flex-item button {
    color: white;
    font-family: "PT Sans", sans-serif;
    font-size: 0.77em;
    border: 0.15em solid white;
    text-decoration: none;
    font-weight: bold;
    width: 10.5em;
    height: 3.2em;
    background-color:white;

}

.flex-item:hover button {
    color: #B0825C;
    font-family: "PT Sans", sans-serif;
    font-size: 0.77em;
    border: 0.15em solid #B0825C;
    text-decoration: none;
    font-weight: bold;
    width: 10.5em;
    height: 3.2em;
}



#description {
    width: 60em;
    float: left;
    max-height: 12.1em;
    overflow: hidden;
    font-family: "PT Serif", serif;


    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-heigth 0.7s;

}

#description.open {
    max-height: initial;
    font-family: "PT Serif", serif;

    -webkit-transition: max-heigth 0.7s;
    -moz-transition: max-heigth 0.7s;
    transition: max-heigth 0.7s;
}


.button-show-more {
    display: block;
    color: #B0825C;
    font-family: "PT Sans", sans-serif;
    font-size: 0.77em;
    border: 0.15em solid #B0825C;
    text-align: center;
    padding: 0.8em 0;
    width: 10em;
    height: 3em;
    background-color:white;
    margin: 0.5em;

    text-decoration: none;
    font-weight: bold;
}

.drug-picture {
    width: 20em;
    height: 20em;
    margin-bottom: 2em;
}

.drug-picture img {
    object-fit: contain;
    width:100%;
    height:100%;

}
.drug-picture-small {
    width: 15em;
}

.flex-container-cart {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap; /* Allow items to wrap */
    row-gap: 3em;
    column-gap: 3em;
    font-family: "PT Serif", serif;
    align-items: center;
}

.flex-container-cart-2 {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 41em;

    border-bottom: 0.1em solid #B0825C;
    margin-bottom: 1em

}
.flex-container-cart-3 {
    display: flex;
    align-items: center;
}

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'PT Sans', sans-serif;
}
.content {
    width: 80%;
    max-width: 50em; /* Converted from 800px */
    margin: 1.25em;
    padding: 1.25em;
    background-color: #fff;
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1); /* Converted from 10px */
}
.section {
    margin-bottom: 1.25em;
}
.main-heading {
    font-family: 'PT Serif', serif;
    color: #B0825C;
}
.sub-heading {
    font-family: 'PT Serif', serif;
    color: #B0825C;
}