<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/commons :: head}"><title>None</title></head>
<body>
<div class="container">
    <header th:replace="~{fragments/commons :: header}"></header>

    <div class="form">
        <h1 th:text="#{administrator_page}">Administrator Page</h1>
        <h3 th:text="#{add_interaction}">Add interaction</h3>
        <div class="input-container">


            <form id="interactionForm" th:action="@{/administrator-add-interactions}" method="post">
                <div th:if="${errorMessage}" class="error-message" th:text="${errorMessage}"></div>
                <div>
                    <select id="drugNameId" name="drugNameId" class="input-field">
                        <option value="" disabled selected th:text="#{select_drug_name}">Select Drug Name</option>
                        <option th:each="ingredient : ${ingredients}"
                                th:value="${ingredient.id}"
                                th:text="${ingredient.ingredientName}"></option>
                    </select>
                </div>
                <div>
                    <select id="interactionDrugId" name="interactionDrugId" class="input-field">
                        <option value="" disabled selected th:text="#{select_interaction_medicine}">Select Interaction Drug</option>
                        <option th:each="ingredient : ${ingredients}"
                                th:value="${ingredient.id}"
                                th:text="${ingredient.ingredientName}"></option>
                    </select>
                </div>
                <div>
                    <select id="interactionType" name="interactionType" class="input-field">
                        <option value="" disabled selected th:text="#{select_interaction_type}">Select Interaction Type</option>
                        <option th:each="type : ${interactionTypes}"
                                th:value="${type}"
                                th:text="${type}"></option>
                    </select>
                </div>
                <button type="submit" class="button" th:text="#{submit}">Save</button>
            </form>

            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const form = document.getElementById('interactionForm');
                    form.addEventListener('submit', function(event) {
                        const drugName = document.getElementById('drugNameId');
                        const interactionDrug = document.getElementById('interactionDrugId');
                        const interactionType = document.getElementById('interactionType');

                        if (drugName.value === "" || interactionDrug.value === "" || interactionType.value === "") {
                            alert('Please make selections for all fields before submitting.');
                            event.preventDefault(); // Prevent form submission
                        }
                    });
                });
            </script>
        </div>
    </div>
    <footer th:replace="~{fragments/commons :: footer}"></footer>
</div>
</body>
</html>