<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/commons::head"></head>
<body>
<div class="container">
    <header th:replace="fragments/commons::header"></header>

    <div class="form">
        <h1>Administrator Page</h1>
        <h3>Manage interactions</h3>
        <div class="input-container">
            <input type="text" class="input-field" placeholder="Medicine Name" />
            <input type="text" class="input-field" placeholder="Interacts With" />
            <button class="button">Delete</button>
        </div>
    </div>



    <footer th:replace="fragments/commons::footer"></footer>
</div>
</body>
</html>