<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<div class="container">
    <header th:replace="fragments/commons::header"></header>
    <div class="form">
        <h1 th:text="#{administrator_page}">Administrator Page</h1>
        <h3 th:text="#{manage_users.message}">Manage users</h3>
        <div class="input-container">
            <form th:action="@{/administrator-manage-users}" method="get">
                <input type="text" name="search" th:placeholder="#{search_users}" class="input-field">
                <button type="submit" class="button" th:text="#{search}">Search</button>
            </form>
            <div th:each="user : ${users}">
                <p th:text="#{user} + ' ' + ${user.username} + ' ' + #{role} + ' ' + ${user.getRoles().get(0).getRole()}">Username</p>
                <form th:action="@{/delete-user}" method="post">
                    <input type="hidden" th:value="${user.id}" name="userId"/>
                    <button type="submit" th:text="#{delete}">Delete</button>
                </form>
                <form th:action="@{/toggle-role}" method="post">
                    <input type="hidden" th:value="${user.id}" name="userId"/>
                    <button type="submit" th:text="#{toggle_role}">Toggle Role</button>
                </form>
            </div>
            <div th:if="${error}" th:text="${error}">Error Message</div>
        </div>
    </div>
    <footer th:replace="fragments/commons::footer"></footer>
</div>
</body>
</html>