<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/commons::head"></head>
<body>
<div class="container">
    <header th:replace="fragments/commons::header"></header>
    <div class="form">
        <h1>Administrator Page</h1>
        <h3>Delete interaction</h3>
        <div class="input-container">
            <table>
                <thead>
                <tr>
                    <th>Drug Name</th>
                    <th>Interaction Drug</th>
                    <th>Interaction Type</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="interaction : ${interactions}">
                    <td th:text="${interaction.drugName.ingredientName}">Drug Name</td>
                    <td th:text="${interaction.interactionDrug.ingredientName}">Interaction Drug</td>
                    <td th:text="${interaction.interactionType}">Interaction Type</td>
                    <td>
                        <form th:action="@{/delete-interaction/{id}(id=${interaction.id})}" method="post">
                            <button type="submit" class="button buttonSmall">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <footer th:replace="fragments/commons::footer"></footer>
</div>
</body>
</html>