<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/commons :: head}"><title>None</title></head>
<body>
<div class="container">
    <header th:replace="~{fragments/commons :: header}"></header>

    <div class="form">
        <h1 th:text="#{administrator_page}">Administrator Page</h1>
        <h3 th:text="#{manage_medicine}">Manage medicines</h3>
        <div class="input-container">
            <form class="medicines-list" th:action="@{/administrator-manage-medicines}" method="get">
                <input type="text" class="input-field" name="search"  th:placeholder="#{search_by_name}" placeholder="Search by Name"/>
                <button type="submit" class="button" th:text="#{search}">Search</button>
            </form>

            <div class="medicines-list" th:each="medicine : ${medicines}">
                <p th:text="${medicine.medicineNameEn}"></p>
                <button th:attr="onclick='javascript:editMedicine(' + ${medicine.id} + ');'"  th:text="#{edit}" class="button">Edit</button>
                <form th:action="@{/delete/{id}(id=${medicine.id})}" method="post">
                    <button type="submit" class="button"  th:text="#{delete}">Delete</button>
                </form>
            </div>

            <!-- Edit Form -->
            <form id="editForm" th:action="@{/save}" th:method="post" style="display:none;">
                <input type="hidden" id="id" name="id"/>
                <label for="medicineNameEn" th:text="#{medicine_name_english}">Medicine Name (English):</label>
                <input type="text" class="input-field" id="medicineNameEn" name="medicineNameEn" th:placeholder="#{medicine_name_english}"/>
                <label for="medicineNameBg" th:text="#{medicine_name_bulgarian}">Medicine Name (Bulgarian):</label>
                <input type="text" class="input-field" id="medicineNameBg" name="medicineNameBg" th:placeholder="#{medicine_name_bulgarian}"/>
                <label for="price" th:text="#{price}">Price:</label>
                <input type="number" class="input-field" step="0.01" id="price" name="price" th:placeholder="#{price}"/>
                <label for="descriptionEn" th:text="#{description_english}">Description (English):</label>
                <textarea class="description-field" id="descriptionEn" name="descriptionEn" th:placeholder="#{description_english}"></textarea>
<!--                <input type="text" class="input-field" id="descriptionEn" name="descriptionEn" placeholder="Description (English)"/>-->
                <label for="descriptionBg" th:text="#{description_bulgarian}">Description (Bulgarian):</label>
                <textarea class="description-field" id="descriptionBg" name="descriptionBg" th:placeholder="#{description_bulgarian}"></textarea>
<!--                <input type="text" class="input-field" id="descriptionBg" name="descriptionBg" placeholder="Description (Bulgarian)"/>-->
                <label for="imageUrl" th:text="#{image_url}">Image URL:</label>
                <input type="text" class="input-field" id="imageUrl" name="imageUrl" th:placeholder="#{image_url}"/>
                <label for="activeIngredientId" th:text="#{select_active_ingredient}">Active Ingredient:</label>
                <select id="activeIngredientId" class="input-field" name="activeIngredientId">
                    <option value="" th:text="#{select_active_ingredient}">-- Select Active Ingredient --</option>
                    <option th:each="ingredient : ${ingredients}" th:value="${ingredient.id}" th:text="${ingredient.ingredientName}"></option>
                </select>
                <button type="submit" class="button" th:text="#{save_changes}" >Save Changes</button>
            </form>

            <script>
                function editMedicine(id) {
                    fetch(`/data/${id}`)
                        .then(response => {
                            if (response.ok) return response.json();
                            throw new Error('Network response was not ok.');
                        })
                        .then(data => {
                            const form = document.getElementById('editForm');
                            var list = document.getElementsByClassName('medicines-list');
                            form.style.display = 'block';
                            for(var index=0;index < list.length;index++){
                                list[index].style.display= 'none';
                            }

                            document.getElementById('id').value = data.id;
                            document.getElementById('medicineNameEn').value = data.medicineNameEn;
                            document.getElementById('medicineNameBg').value = data.medicineNameBg;
                            document.getElementById('price').value = data.price;
                            document.getElementById('descriptionEn').value = data.descriptionEn;
                            document.getElementById('descriptionBg').value = data.descriptionBg;
                            document.getElementById('imageUrl').value = data.imageUrl;
                            const activeIngredientSelect = document.getElementById('activeIngredientId');
                            activeIngredientSelect.value = data.activeIngredientId;
                        })
                        .catch(error => {
                            console.error('Error fetching the medicine data:', error);
                            alert('Failed to load medicine data.');
                        });
                }
            </script>
        </div>
    </div>






    <footer th:replace="~{fragments/commons :: footer}"></footer>
</div>
</body>
</html>