<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/commons::head"></head>
<body>
<div class="container">
    <header th:replace="fragments/commons::header"></header>

    <div class="form">
        <div class="flex-container-cart">
            <div class="flex-container-cart-2">
                <div class="medicine-picture-small">
                    <img class="medicine-picture-small" src="https://sopharmacy.bg/media/sys_master/haf/h37/9093013340190.jpg" alt="Helicid">
                </div>
                <div>
                    <p>
                        &nbsp; <span>Хелицид 20 мг х28 капсули Zentiva</span>&nbsp;
                        <span>8,12 лв.</span>
                    </p>
                    <div class="flex-container-cart-3">
                        <input class="button-show-more" min="1" name="form-0-quantity" value="1" type="number">
                        <button type="button" class="button-show-more">Update cart</button>
                        <button type="button" class="button-show-more">Remove</button>
                    </div>

                </div>
            </div>

            <div class="flex-container-cart-2">
                <div class="medicine-picture-small">
                    <img class="medicine-picture-small" src="https://sopharmacy.bg/media/sys_master/haf/h37/9093013340190.jpg" alt="Helicid">
                </div>
                <div>
                    <p>
                        &nbsp; <span>Хелицид 20 мг х28 капсули Zentiva</span>&nbsp;
                        <span>8,12 лв.</span>
                    </p>
                    <div class="flex-container-cart-3">
                        <input class="button-show-more" min="1" name="form-0-quantity" value="1" type="number">
                        <button type="button" class="button-show-more">Update cart</button>
                        <button type="button" class="button-show-more">Remove</button>
                    </div>

                </div>
            </div>

            <div class="flex-container-cart-2">
                <div class="medicine-picture-small">
                    <img class="medicine-picture-small" src="https://sopharmacy.bg/media/sys_master/haf/h37/9093013340190.jpg" alt="Helicid">
                </div>
                <div>
                    <p>
                        &nbsp; <span>Хелицид 20 мг х28 капсули Zentiva</span>&nbsp;
                        <span>8,12 лв.</span>
                    </p>
                    <div class="flex-container-cart-3">
                        <input class="button-show-more" min="1" name="form-0-quantity" value="1" type="number">
                        <button type="button" class="button-show-more">Update cart</button>
                        <button type="button" class="button-show-more">Remove</button>
                    </div>

                </div>
            </div>

            <div class="flex-container-cart-2">
                <div class="medicine-picture-small">
                    <img class="medicine-picture-small" src="https://sopharmacy.bg/media/sys_master/haf/h37/9093013340190.jpg" alt="Helicid">
                </div>
                <div>
                    <p>
                        &nbsp; <span>Хелицид 20 мг х28 капсули Zentiva</span>&nbsp;
                        <span>8,12 лв.</span>
                    </p>
                    <div class="flex-container-cart-3">
                        <input class="button-show-more" min="1" name="form-0-quantity" value="1" type="number">
                        <button type="button" class="button-show-more">Update cart</button>
                        <button type="button" class="button-show-more">Remove</button>
                    </div>

                </div>
            </div>

            <div class="flex-container-cart-2">
                <div class="medicine-picture-small">
                    <img class="medicine-picture-small" src="https://sopharmacy.bg/media/sys_master/haf/h37/9093013340190.jpg" alt="Helicid">
                </div>
                <div>
                    <p>
                        &nbsp; <span>Хелицид 20 мг х28 капсули Zentiva</span>&nbsp;
                        <span>8,12 лв.</span>
                    </p>
                    <div class="flex-container-cart-3">
                        <input class="button-show-more" min="1" name="form-0-quantity" value="1" type="number">
                        <button type="button" class="button-show-more">Update cart</button>
                        <button type="button" class="button-show-more">Remove</button>
                    </div>

                </div>
            </div>

        </div>
        <div class="total">
            <span>Total: 100 лв.</span>
        </div>
        <div>
            <button type="button" class="button-show-more">Order</button>
        </div>
    </div>
    <footer th:replace="fragments/commons::footer"></footer>
</div>
</body>
</html>