<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/commons::head"></head>
<body>
<div class="container">
    <header th:replace="fragments/commons::header"></header>

    <div class="form">
        <h1>Administrator Page</h1>
        <h3>User settings</h3>
        <div class="input-container">

            <form th:action="@{/change-password}" th:object="${updateUserDTO}" method="post">
                <div>
                     <input type="hidden" id="id" name="id" th:field="*{id}" class="input-field"/>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" th:field="*{password}" class="input-field" />
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message"></span>
                    <div th:if="${passwordsDoNotMatch}" class="error-message">
                        <div>Passwords do not match</div>
                    </div>
                    <div th:if="${passwordLength}" class="error-message">
                        <div>Passwords length must be between 3 and 20 characters</div>
                    </div>
                </div>
                <div>
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" id="confirmPassword" th:field="*{confirmPassword}" class="input-field" />
                    <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="error-message"></span>
                </div>
                <button type="submit" class="button">Save</button>
            </form>



        </div>
    </div>



    <footer th:replace="fragments/commons::footer"></footer>
</div>
</body>
</html>