<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/commons :: head}"><title>None</title></head>
<body>
<div class="container">
    <header th:replace="~{fragments/commons :: header}"></header>

    <div class="form">

        <div class ="flex-container">
            <div class="medicine-picture">
                <img th:src="@{'/images/' + ${medicine.imageUrl}}" alt="Mock">
            </div>
            <div>
                <p th:text="__${#locale}__=='bg_BG' ? ${medicine.medicineNameBg} : ${medicine.medicineNameEn}"></p>
                <p th:text="${#numbers.formatDecimal(medicine.price, 1, 2)}"></p>
                <form th:action="@{/add-to-cart}" method="post">
                    <input type="hidden" th:value="${medicine.id}" name="medicineId" />
                    <input type="number" name="quantity" class="button-show-more" value="1" min="1" />
                    <button type="submit" class="button-show-more" th:text="#{add_to_cart}">Add to Cart</button>
                </form>
            </div>
        </div>
        <div id="description">
            <p th:text="__${#locale}__=='bg_BG' ? ${medicine.descriptionBg} : ${medicine.descriptionEn}">

            </p>
        </div>
        <div>
            <li><a onclick="myFunction()" id="show-more3" class="button-show-more" th:text="#{more_information}">More information</a></li>
            <script>
                let content = document.getElementById("description");
                let button = document.getElementById("show-more3");

                function myFunction() {

                    const dropdown = document.getElementById('lang');
                    const selectedValue = dropdown.value;

                    if(content.className === "open"){
                        content.className = "";
                        if (selectedValue === "en_US") {
                            button.innerHTML = "More information";
                        } else {
                            button.innerHTML = "Повече информация";
                        }

                    } else {
                        content.className = "open";
                        if (selectedValue === "en_US") {
                            button.innerHTML = "Less information";
                        } else {
                            button.innerHTML = "По-малко инф.";
                        }
                    }
                }
            </script>
        </div>

    </div>
    <footer th:replace="~{fragments/commons :: footer}"></footer>
</div>
</body>
</html>