<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/commons::head"></head>
<body>
<div class="container">
    <header th:replace="fragments/commons::header"></header>

    <div class="form">

        <div class ="flex-container">
            <div class="medicine-picture">
                <img th:src="@{'/img/' + ${medicine.imageUrl}}" alt="Mock">
            </div>
            <div>
                <p th:text="${medicine.medicineNameEn}"></p>
                <p th:text="${'$' + medicine.price}"></p>
                <form th:action="@{/add-to-cart}" method="post">
                    <input type="hidden" th:value="${medicine.id}" name="medicineId" />
                    <input type="number" name="quantity" class="button-show-more" value="1" min="1" />
                    <button type="submit" class="button-show-more">Add to Cart</button>
                </form>
            </div>
        </div>
        <div id="description">
            <p th:text="${medicine.descriptionEn}">

            </p>
        </div>
        <div>
            <li><a onclick="myFunction()" id="show-more3" class="button-show-more">More information</a></li>
            <script>
                let content = document.getElementById("description");
                let button = document.getElementById("show-more3");

                function myFunction() {
                    if(content.className === "open"){
                        content.className = "";
                        button.innerHTML = "More information";

                    } else {
                        content.className = "open";
                        button.innerHTML = "Less information";
                    }
                }
            </script>
        </div>
<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--        <div>-->
<!--            <img th:src="@{'/img/' + ${medicine.imageUrl}}" alt="Medicine Image" style="width:300px; height:300px;"/>-->
<!--            <h2 th:text="${medicine.medicineNameEn}"></h2>-->
<!--            <p th:text="${'$' + medicine.price}"></p>-->

<!--            <form th:action="@{/add-to-cart}" method="post">-->
<!--                <input type="hidden" th:value="${medicine.id}" name="medicineId" />-->
<!--                <input type="number" name="quantity" class="input-field" value="1" min="1" />-->
<!--                <button type="submit" class="button">Add to Cart</button>-->
<!--            </form>-->

<!--            <div th:text="${medicine.descriptionEn}"></div>-->
<!--        </div>-->

<!--    </div>-->
    <footer th:replace="fragments/commons::footer"></footer>
</div>
</body>
</html>