<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/commons :: head}"><title>None</title></head>
<body>
<div class="container">
    <header th:replace="~{fragments/commons :: header}"></header>
    <div class="form">

        <div class="form-border">
            <form th:action="@{/login}" th:object="${loginData}" th:method="POST">
                <!-- Display error message -->
                <div th:if="${param.error}" class="error-message">
                    <p th:text="#{login.error}">Invalid username or password</p>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="username" name="username" th:placeholder="#{username}" required minlength="3" maxlength="20" />
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="password" th:placeholder="#{password}" required minlength="3" maxlength="20"/>
                </div>

                <div class="form-group">
                    <button type="submit" th:text="#{login}">Login</button>
                </div>

                <div class="form-group">
                    <div><span th:text="#{no_account}">No account?</span> <a class="register-link" href="/register" ><span th:text="#{create_one}">Create one!</span></a></div>
                </div>
            </form>
        </div>

    </div>
    <footer th:replace="~{fragments/commons :: footer}"></footer>
</div>
</body>
</html>