<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/commons::head"></head>
<body>
<div class="container">
    <header th:replace="fragments/commons::header"></header>
    <div class="form">

        <div class="form-border">
            <form th:action="@{/login}" th:object="${loginData}" th:method="POST">
                <div th:if="${wrongUsernameOrPassword}" class="error-message">
                    <div>Wrong Username Or Password</div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username"/>
                    <div th:if="${#fields.hasErrors('username')}" class="error-message">
                        <div>Username must be valid</div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
                    <div th:if="${#fields.hasErrors('password')}" class="error-message">
                        <div>Password must be valid</div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit">Login</button>
                </div>

                <div class="form-group">
                    <div>No account? <a class="register-link" href="/register">Create one!</a></div>
                </div>
            </form>
        </div>

    </div>
    <footer th:replace="fragments/commons::footer"></footer>
</div>
</body>
</html>