<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/commons::head"></head>
<body>
<div class="container">
    <header th:replace="fragments/commons::header"></header>

    <div class="form">
        <div class ="flex-container">
            <div class ="flex-container2">
                <div th:if="${message != null}">
                    <p th:text="${message}"></p>
                </div>
                <div class="search-container">
                    <form action="#" th:action="@{/pharmacy}" method="get" class="search-container">
                        <input type="text" name="search" th:value="${search}" th:placeholder="#{search_medicines}" class="button-search-input" />
                        <button type="submit" class="button-search" th:text="#{search}">Search</button>
                        <select name="size" onchange="this.form.submit()" class="button-dropdown">
                            <option th:selected="${currentSize == 9}" value="9">9</option>
                            <option th:selected="${currentSize == 36}" value="36">36</option>
                            <option th:selected="${currentSize == 144}" value="144">144</option>
                        </select>
                    </form>
                </div>

                <div class="medicine-container">
                    <div th:each="medicine : ${medicines}" class="medicine-card">
                        <a th:href="@{/item(medicineId=${medicine.id})}"><img th:src="@{'/images/' + ${medicine.imageUrl}}" alt="Medicine Image" style="width:100px; height:100px;"/></a>
                        <p th:text="__${#locale}__=='bg_BG' ? ${medicine.medicineNameBg} : ${medicine.medicineNameEn}">Medicine Name</p>
                        <p th:text="${#numbers.formatDecimal(medicine.price, 1, 2)}">Price</p>
                        <form th:action="@{/add-to-cart}" method="post">
                            <input type="hidden" th:value="${medicine.id}" name="medicineId" />
                            <input type="number" name="quantity" class="input-field" value="1" min="1" />
                            <button type="submit" class="button" th:text="#{add_to_cart}">Add to Cart</button>
                        </form>
                    </div>
                </div>

                <div>
                    <ul class="pagination-form">
                        <li th:if="${currentPage > 0}">
                            <a th:href="@{/pharmacy(page=${currentPage - 1}, search=${search})}" class="pagination" th:text="#{previous}">Previous</a>
                        </li>
                        <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                            <a th:href="@{/pharmacy(page=${i}, search=${search})}" th:text="${i + 1}" class="pagination"></a>
                        </li>
                        <li th:if="${currentPage + 1 < totalPages}">
                            <a th:href="@{/pharmacy(page=${currentPage + 1}, search=${search})}" class="pagination" th:text="#{next}">Next</a>
                        </li>
                    </ul>
                </div>


            </div>


        </div>
    </div>
    <footer th:replace="fragments/commons::footer"></footer>
</div>
</body>
</html>