<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/commons::head"></head>
<body>
<div class="container">
    <header th:replace="fragments/commons::header"></header>

    <div class="form">
        <div class ="flex-container">
            <div class="flex-item">
                <a href="/item"><img src="img/pack_mockup.gif" alt="Helicid"></a>
                <p>Хелицид 20 мг х28 капсули Zentiva</p>
                <p>8,12 лв.</p>
                <button type="button">Add to Cart</button>
            </div>

            <div th:each="medicine : ${medicines}" class="medicine-container">
                <div class="medicine-image">
                    <img th:src="@{'/img/' + ${medicine.imageUrl}}" alt="Medicine Image" />
                </div>
                <div class="medicine-name" th:text="${medicine.medicineNameEn}">Medicine Name</div>
                <div class="medicine-price" th:text="${'$'} + ${medicine.price}">Price</div>
                <form th:action="@{/add-to-cart}" method="post">
                    <input type="hidden" th:value="${medicine.id}" name="medicineId" />
                    <input type="number" name="quantity" class="input-field" value="1" min="1" />
                    <button type="submit" class="button">Add to Cart</button>
                </form>
            </div>


    </div>
    <footer th:replace="fragments/commons::footer"></footer>
</div>
</body>
</html>