<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/commons::head"></head>
<body>
<div class="container">
    <header th:replace="fragments/commons::header"></header>
    <div class="form">

        <div class="form-border">
            <form th:action="@{/register}" th:object="${registerData}" th:method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" id="username" name="username" th:placeholder="#{username}" th:field="*{username}" th:errorclass="is-invalid"/>
                    <div th:if="${#fields.hasErrors('username')}" class="error-message">
                        <div th:text="#{username.validation.error}">Username must be between 3 and 20 characters</div>
                    </div>
                    <div th:if="${usernameExists}" class="error-message">
                        <div th:text="#{username.exists.error}">Username already exists</div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="firstName" name="firstName" th:placeholder="#{first_name}" th:field="*{firstName}" th:errorclass="is-invalid"/>
                    <div th:if="${#fields.hasErrors('firstName')}" class="error-message">
                        <div th:text="#{first_name.validation.error}">First name must be between 3 and 20 characters</div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="lastName" name="lastName" th:placeholder="#{last_name}" th:field="*{lastName}" th:errorclass="is-invalid"/>
                    <div th:if="${#fields.hasErrors('lastName')}" class="error-message">
                        <div th:text="#{last_name.validation.error}">Last name must be between 3 and 20 characters</div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="email" name="email" th:placeholder="#{email}" th:field="*{email}" th:errorclass="is-invalid"/>
                    <div th:if="${#fields.hasErrors('email')}" class="error-message">
                        <div th:text="#{email.validation.error}">Email must be valid</div>
                    </div>
                    <div th:if="${emailExists}" class="error-message">
                        <div th:text="#{email.exists.error}">Email already exists</div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="country" name="country" th:placeholder="#{country}" th:field="*{country}" th:errorclass="is-invalid"/>
                    <div th:if="${#fields.hasErrors('country')}" class="error-message">
                        <div th:text="#{country.validation.error}">Country must be between 3 and 20 characters</div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="city" name="city" th:placeholder="#{city}" th:field="*{city}" th:errorclass="is-invalid"/>
                    <div th:if="${#fields.hasErrors('city')}" class="error-message">
                        <div th:text="#{city.validation.error}">City must be between 3 and 20 characters</div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="street" name="street" th:placeholder="#{street}" th:field="*{street}" th:errorclass="is-invalid"/>
                    <div th:if="${#fields.hasErrors('street')}" class="error-message">
                        <div th:text="#{street.validation.error}">Street must be between 3 and 40 characters</div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="postalCode" name="postalCode" th:placeholder="#{postal_code}" th:field="*{postalCode}" th:errorclass="is-invalid"/>
                    <div th:if="${#fields.hasErrors('postalCode')}" class="error-message">
                        <div th:text="#{postal_code.validation.error}">Postal code must be between 3 and 20 characters</div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" th:placeholder="#{phone_number}" th:field="*{phoneNumber}" th:errorclass="is-invalid"/>
                    <div th:if="${#fields.hasErrors('phoneNumber')}" class="error-message">
                        <div th:text="#{phone_number.validation.error}">Phone number must be between 3 and 20 characters</div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="password" th:placeholder="#{password}" th:field="*{password}" th:errorclass="is-invalid"/>
                    <div th:if="${#fields.hasErrors('password')}" class="error-message">
                        <div th:text="#{password.validation.error}">Password must be between 3 and 20 characters</div>
                    </div>
                    <div th:if="${passwordsDoNotMatch}" class="error-message">
                        <div th:text="#{passwords.mismatch.error}">Passwords do not match</div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" th:placeholder="#{confirm_password}" th:field="*{confirmPassword}" th:errorclass="is-invalid"/>
                    <div th:if="${#fields.hasErrors('confirmPassword')}" class="error-message">
                        <div th:text="#{confirm.password.validation.error}">Confirm password must be between 3 and 20 characters</div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary" th:text="#{register}">Register</button>
                </div>
            </form>
        </div>

    </div>

    <footer th:replace="fragments/commons::footer"></footer>
</div>
</body>
</html>